.app {
  min-height: 100vh;
  display: flex;
  background-image: url("./assets/testbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  background-position: center;
}

.chat {
  display: flex;
  background-image: url("./assets/testbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  background-position: center;
}
