*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
  /* background-image: url("./assets/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  background-position: center; */
}

.messages{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}